<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yusuga.codic</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2D9B22B4-6CD8-4513-AB29-61AA4EEEF7CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>837A82C4-CC09-4F55-AD56-6B1BF287F223</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yu Sugawara</string>
	<key>description</key>
	<string>Codic API v3</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Codic</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>codic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python codic.py {query}</string>
				<key>title</key>
				<string>Codic Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D9B22B4-6CD8-4513-AB29-61AA4EEEF7CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>837A82C4-CC09-4F55-AD56-6B1BF287F223</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D9B22B4-6CD8-4513-AB29-61AA4EEEF7CB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>837A82C4-CC09-4F55-AD56-6B1BF287F223</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://yusuga.com</string>
</dict>
</plist>
